.alertaExito {
  margin-top: 2rem;
  background-color: #2dcc70;
  color: #fcfefc;
  padding: 15px 10px;
  margin: 20px auto; 
  border: none;
  border-left: 6px solid #27ae60;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  align-items: center;
  width: 10cm; 
  height: 2cm; 
  min-width: none; 
}
.alertaExito::before {
  content: '✔'; 
  font-size: 24px; 
  color: #fcfefc;
  margin-right: 10px; 
}

.alertaError {
  margin-top: 2rem;
  background-color: #f74a41;
  color: #fcfefc;
  padding: 15px 10px;
  margin: 20px auto; 
  border: none;
  border-left: 6px solid #ff291e;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  align-items: center;
  width: 10cm; /* Ancho de 13 cm */
  height: 2cm; /* Alto de 3 cm */
  max-width: none; /* Sin máximo de ancho */
  min-width: none; /* Sin mínimo de ancho */
}

.alertaError::before {
  content: '⚠️';
  font-size: 24px;
  color: #fcfefc;
  margin-right: 10px; 
}

.botonVerde {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.botonVerde:hover {
  background-color: #218838;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}