.navbar{
  background: #fff;
  color: #383838;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem; 
}
.links{
  display: flex;
  gap: 2rem;
  list-style-type: none;
}